
  
<form method="post" action="/signup">
<h2>Sign up for an account!</h2>
    <input type=text placeholder="Username" name="user[username]"><br>
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <br>
    <input type=submit value="Sign up">
</form>


<%= @fuck   %>



<%= @errors_signup if @errors_signup   %>